//color variables
$color-white: #ffffff;

$color-gray-10: #fafafa;
$color-gray-15: #f5f5f5;
$color-gray-20: #eeeeee;
$color-gray-30: #d9d9d9;
$color-gray-40: #9fa6b2;
$color-gray-50: #787486;

$color-black-10: #4b4b4b;
$color-black-20: #333236;
$color-black-30: #171717;
$color-black: #000000;

$color-violet-light: #f1effd;
$color-violet-dark: #5534da;
$color-purple: #760dde;

$color-red: #d6173a;

$color-green: #7ac555;
$color-mustard: #86d549;
$color-teal: #a3c4a2;

$color-brown: #c4b1a2;
$color-orange: #ffa500;
$color-dark-orange: #d58d49;
$color-light-cream: #f9eee3;
$color-light-lavender: #e7f7db;
$color-yellow: #ffc85a;
$color-yellow: #ffc85a;
$color-orange-light: #fdd446;

$color-dark-blue: #4981d5;
$color-blue-light: #76a5ea;
$color-blue-light-2: #9dd7ed;
$color-light-blue: #dbe6f7;

$color-pink-dark: #d549b6;
$color-pink: #e876ea;
$color-light-pink: #f7dbf0;

// breakpoint variables
$breakpoint-mobile: 375px;
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1920px;
