@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: none;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
  font-size: 1.6rem;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

button,
input,
select,
textarea {
  box-sizing: border-box;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  cursor: pointer;
}

.page {
  width: 100vw;
  height: 100vh;
  &.landing {
    background-color: #9fa6b2;
    color: #fff;
  }
}
