.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 2rem;
  background: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-alert {
  max-width: 54rem;
  width: 100%;
  max-height: 25rem;
  height: 100%;
  button {
    position: absolute;
    bottom: 2.8rem;
    right: 2.8rem;
  }
  @include mobile {
    width: 87vw;
    padding-top: 81px;
    button {
      margin-top: 50px;
      position: static;
    }
  }
}
