button {
  &:hover {
    cursor: pointer;
  }
}

%btn-base {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  transition: 0.3s;
  text-align: center;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-access {
  @extend %btn-base;

  width: 100%;
  height: 5rem;
  background: #9fa6b2;
  color: #ffffff;
  font-size: 1.8rem;
  border: none;

  &:hover,
  &:focus {
    background: #5534da;
  }
}

.btn-lg {
  @extend %btn-base;

  width: 12rem;
  height: 4.8rem;
  background: #5534da;
  color: #ffffff;
  font-size: 1.6rem;
  border: none;

  &:hover,
  &:focus {
    background: #1f115b;
  }

  &.btn-decline {
    color: #787486;
    border: 0.1rem solid #d9d9d9;
    background: #ffffff;
    &:hover,
    &:focus {
      background: #666666;
      color: #ffffff;
    }
  }

  @media (max-width: 37.4rem) {
    width: 13.8rem;
    height: 4.2rem;
    font-size: 1.4rem;
  }
}

.btn-md {
  @extend %btn-base;

  width: 8.4rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  background: #5534da;
  color: #ffffff;
  font-size: 1.4rem;
  border: none;

  &:hover,
  &:focus {
    background: #1f115b;
  }
  @media (max-width: 37.4rem) {
    height: 2.8rem;
    font-size: 1.2rem;
  }

  &.btn-decline {
    color: #5534da;
    border: 0.1rem solid #d9d9d9;
    background: #ffffff;
    &:hover,
    &:focus {
      background: #666666;
      color: #ffffff;
    }
    @media (max-width: 37.4rem) {
      width: 5.2rem;
    }
  }
}

.btn-sm {
  @extend %btn-base;

  width: 8.4rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  background: #5534da;
  color: #ffffff;
  font-size: 1.4rem;
  border: none;

  &:hover,
  &:focus {
    background: #1f115b;
  }

  &.btn-decline {
    color: #5534da;
    border: 0.1rem solid #d9d9d9;
    background: #ffffff;
    &:hover,
    &:focus {
      background: #666666;
      color: #ffffff;
    }
  }
  @media (max-width: 76.7rem) {
    width: 7.2rem;
    height: 3rem;
    @media (max-width: 37.4rem) {
      width: 10.9rem;
      height: 2.8rem;
      font-size: 1.2rem;
    }
  }
}

.btn-invite {
  @extend %btn-base;

  width: 10.5rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  gap: 0.8rem;
  background: #5534da;
  color: #ffffff;
  font-size: 1.4rem;
  border: none;

  &:hover,
  &:focus {
    background: #1f115b;
  }

  @media (max-width: 37.4rem) {
    width: 8.6rem;
    height: 2.8rem;
    font-size: 1.2rem;
    gap: 0.6rem;
  }

  & .btn-icon {
    width: 1.6rem;
    height: auto;
    @media (max-width: 37.4rem) {
      width: 1.4rem;
      height: auto;
    }
  }
}

.btn-main {
  @extend %btn-base;

  width: 28rem;
  height: 5rem;
  background: #5534da;
  color: #ffffff;
  font-size: 1.8rem;
  border: none;

  &:hover,
  &:focus {
    background: #1f115b;
  }

  @media (max-width: 76.7rem) {
    font-size: 1.6rem;
    @media (max-width: 37.4rem) {
      width: 23.52rem;
      height: 4.2rem;
      font-size: 1.4rem;
    }
  }
}
