.bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 52rem;
}

.mainTop {
  width: 19.9rem;
  margin: 0 auto;
  text-align: center;
}

.logoImg {
  width: 100%;
}

.mainTopText {
  font-size: 2rem;
  margin-top: 1rem;
  font-family: 'Pretendard-Medium';
}

form {
  padding-top: 22px;
}

.formLabel {
  color: #333;
  display: block;
  margin-top: 16px;
}
.agreeContent {
  display: flex;
  align-items: center;
  margin-top: 24px;
  color: #333;
}

.agreeCheckbox {
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #d9d9d9;
  margin-right: 0.8rem;
}

.submitButton {
  width: 100%;
  padding: 1.4rem 22.8rem;
  margin-top: 21px;
  border: none;
  border-radius: 0.8rem;
  background-color: #5534da;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  &.disabled {
    background-color: #9fa6b2;
    cursor: not-allowed;
  }
}

.goSignUpContent {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  width: 100%;
  color: #333;
  font-family: 'Pretendard-Regular';
}

.isSignUp {
  margin-right: 5px;
}

.goSignup {
  color: #5634da;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #5634da; /* 밑줄의 색상 */
  }
}

.errorMessage {
  display: block;
  margin-top: 8px;
  color: #d6173a;
}

