.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121.1vh;
}

.main {
  max-width: 52rem;
  width: 100%;
  @include mobile {
    width: 35.1rem;
  }
}

.mainTop {
  max-width: 19.9rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    max-width: 17.1rem;
    width: 100%;
  }
}

.imgWrapper {
  width: 100%;

  @include mobile {
    max-width: 13.9rem;
    width: 100%;
    max-height: 19.3rem;
    height: auto;
  }
}

.logoImg {
  width: 100%;
  height: auto;
}

.mainTopText {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'Pretendard-Medium';

  @include mobile {
    margin-top: 0.87rem;
  }
}

form {
  padding-top: 2.2rem;
  @include mobile {
    padding-top: 5rem;
  }
}

.formLabel {
  color: #333;
  display: block;
  margin-top: 1.6rem;
}

.agreeContent {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  color: #333;
  @include mobile {
  }
}

.agreeCheckbox {
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #d9d9d9;
  margin-right: 0.8rem;
}

.submitButton {
  width: 100%;
  padding: 1.4rem 0;
  margin-top: 2.1rem;
  border: none;
  border-radius: 0.8rem;
  background-color: $color-violet-dark;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  &.disabled {
    background-color: #9fa6b2;
    cursor: not-allowed;
  }
  @include mobile {
    width: 100%;
  }
}

.goSignUpContent {
  display: flex;
  justify-content: center;
  margin-top: 2.6rem;
  width: 100%;
  color: #333;
  font-family: 'Pretendard-Regular';
}

.isSignUp {
  margin-right: 0.5rem;
}

.goSignup {
  color: $color-violet-dark;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: $color-violet-dark;
  }
}

.errorMessage {
  display: block;
  margin-top: 0.8rem;
  color: #d6173a;
}
